@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

div{
  color: black;
}
body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

h5{
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;     
}

.swiper-wrapper .swiper-slide{
  display: flex;
  justify-content: center;
}

.swiper {
 padding-bottom: 40px !important;
}

.swiper .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  background-color:white;
  opacity: 1;
  }
.swiper .swiper-pagination-bullet-active{
  background-color: #4527A0;
}

input[type="radio"]:checked label{
border-color: #4527A0;
}
